<br>
    <h1><%= I18n.t('title') %></h1>
<br>

<div class="border col-7" style="margin-left:3em;">
    <br>
    <h2 id="first-info" class="col-6"><%= I18n.t('search') %></h2>
    <%= link_to I18n.t('reset'), root_path %>
    <br>
    <p id="search-info" style="display:none;"><%= I18n.t('search-help') %></p>
    <br>
    <%= form_tag root_path, method: :get do %>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label><%= I18n.t('keyword') %>：</label>
                    <i class="fas fa-question-circle js-modal-open"></i>
                        <div class="modal js-modal">
                            <div class="modal__bg js-modal-close"></div>
                            <div class="modal__content">
                                <p><%= I18n.t('modal_help_title') %></p>
                                <p><%= I18n.t('keyword_example') %></p>
                                <a class="js-modal-close" href=""><%= I18n.t('close') %></a>
                            </div>
                        </div>
                    
                    <%= text_field_tag :keyword, "", class:"form-control", placeholder:I18n.t('keyword_example') %>
                </div>
                <div class="form-group">
                    <label><%= I18n.t('search_location') %></label>
                    <select class="form-control select2" id="exampleFormControlSelect1">
                            <option></option>
                        <% @search_locations.each do |search_location| %>
                            <option><%= search_location.base_address %></option>
                        <% end %>
                    </select>
                    <%= hidden_field_tag :location, "", class:"location" %>
                </div>
                <% if false %>
                    <div class="form-group">
                        <label>緯度：</label>
                        <%= text_field_tag :longitude, "", class:"form-control" %>
                    </div>
                    <div class="form-group">
                        <label>経度：</label>
                        <%= text_field_tag :latitude, "", class:"form-control" %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="row center-block text-center">
        </div>
        <% if user_signed_in? %>
            <div class="col-5">
                <%= submit_tag "検索", class:"btn btn-outline-primary btn-block" %>
            </div>
        <% end %>
    <% end %>
</div>

<div class="col-1">
</div>
<% if @businesses %>
<div style="margin:5em 10em;">
    <%= form_tag '/home/output_spread_sheet', method: :get do %>
        <% @names.zip(@locations, @rating_scores, @num_reviews) do |business|%>
            <%= hidden_field_tag "names[]", business[0].try(:text) || "データ無し" %>
            <%= hidden_field_tag "locations[]", business[1].try(:text) || "データ無し" %>
            <%= hidden_field_tag "rating_scores[]", business[2].try(:text) || "データ無し" %>
            <%= hidden_field_tag "num_reviews[]", business[3].try(:text) || "データ無し" %>
            <%#= hidden_field_tag "contents[]", business[4].try(:text) || "データ無し" %>
            <% end %>
            <%= submit_tag "Googleスプレッドシートへ出力", class:"btn btn-outline-primary btn-block col-7" %>
    <% end %>
</div>
    <div class = "col-11" style="margin-left:3em;">
    
        <h2>データ一覧</h2>
        <div class="row">
            <div class="col-md">
            
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">店舗名</th>
                        <th scope="col">住所</th>
                        <th scope="col">口コミランク</th>
                        <th scope="col">口コミ数</th>
                    </tr>
                </thead>
                    <tbody>
                        <% @names.zip(@locations, @rating_scores, @num_reviews) do |business|%>
                            <tr>
                             <td><%= business[0].try(:text) || "データ無し" %></td>
                             <td><%= business[1].try(:text) || "データ無し" %></td>
                             <td><%= business[2].try(:text) || "データ無し" %></td>
                             <td><%= business[3].try(:text) || "データ無し" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>
<% end %>